<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground App</title>
</head>
<body">
    <h2 style="color:rgb(10, 10, 10);text-align:center;">Welcome!</h2>
    <div class="big-box">
        <div class="box ">
            
        </div>
        <div class="box">
            
        </div>
        <div class="box">
        </div>
    </div>
</body>
<style>

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.box {
    height:150px;
    width:150px;
    background-color: aqua;
    border: 3px solid black;
}
.big-box {
    display: flex;
    justify-content: center;
    gap:4.5em;

}
</style>
</html>